@font-face {
    font-family: "Roboto-Regular";
    src: url("../../../../resources/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../../../../resources/fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../../../../resources/fonts/Roboto-Light.ttf");
}