
.list tr {
    display: block;
    float: left;
}

.list td {
    display: block;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.25ch;
    padding-bottom: 0.25ch;
    min-width: 47.5vw;
}

.list tr td:hover {
    background-color: #444;
}
